# Server port configuration
PORT= server port number to listen
DOMAIN= domain name

# Database configuration
DATABASE_NAME= database name
DATABASE_USERNAME= database username (default: root)
DATABASE_PASSWORD= database password (if any)
DATABASE_HOST= database host (default: localhost)
DATABASE_PORT= database port number (default: 3306)
DATABASE_DIALECT= database dialect (one of 'mysql' | 'mariadb' | 'postgres' | 'mssql')

# User token configuration
SECRET_KEY= JWT secret key
TOKEN_EXPIRATION= TOKEN expiration time

# Sendgrid configuration
SENDGRID_API_KEY= sendgrid API key
SENDGRID_FROM_EMAIL=email address from sendgrid account